body {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: min(100%, 500px);
    margin: 0 auto;
    font: 16px system-ui, sans-serif;
    line-height: 1.6;
}

input,
select,
button {
    font: inherit;
}

label {
    display: flex;
    flex-direction: column;
}

button {
    align-self: center;
    height: 2em;
    padding: 0 1em;
    border: none;
    border-radius: 100vh;
    font: inherit;
    background-color: gainsboro;
}

button:hover {
    background-color: gray;
}

a {
    align-self: center;
}